footer {
    background-color: #1c1c1c;
    padding: 20px 0 15px;

    img {
        width: 100px;
    }

    span {
        color: $branco;
        font-weight: 100;
    }

    .myfooter {
        margin: auto;
        text-align: center;
    }
}