.main {
    background: {   
        image: url(../images/img_vitrine.jpg);
        position: 57%;
        size: 243% 100%;
    }
    height: 500px;
    color: #fff;

    @media #{$tablet}{
        height: 100vh;
        background: {   
            position: 56%;
            size: 190% 100%;
        }
    }

    @media #{$desktop} {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
    }

    .main-description {
        padding-left: 11px;
        border-left: 5px solid;
        margin-top: 60px;

        @media #{$desktop} {
            width: 700px;
        }

        h2 {
            font-weight: 400;
            text-transform: uppercase;

            @media #{$tablet} {
                font: {
                    weight: bold;
                    size: 80px;
                }
                margin-top: 200px;
            }
        }

        p {
            font: {
                size: 18px;
                weight: 100;
            }

            @media #{$tablet} {
                font: {
                    size: 26px;
                }
                width: 85%;
                margin-bottom: 80px;
            }
        }
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    .main-seta {
        fill: #b4b4b5;
        width: 70px;
        height: 70px;
        text-align: center;
        border: 1px solid;
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: 35px;

        @media #{$mobile} {
                bottom: 86px;
        }

        svg {
            width: 30px;
            margin-top: 28px;
        }
    }
}