section {

    &.papdigital {
        text-align: center;

        .title {
            color: $azul;
            margin: 35px 0;
        }

        p {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 30px;
        }

        .papdigital-image-circle {
            background-color: $verde;
            width: 100px;
            height: 100px;
            margin: {
                top: 20px;
                bottom: 30px;
            }

            @media #{$tablet} {
                width: 120px;
                height: 120px;
            }

            img {
                margin-top: 25px;
                
                @media #{$tablet} {
                    margin-top: 30px;
                    height: 60px;
                }
            }
        }

        .papdigital-title--description, .papdigital-ul {
            text-align: left;

            li {
                @media #{$tablet} {
                    margin-bottom: 4px;
                }
            }
        }

        .papdigital-title--description {
            font-size: 25px;
        }

        .papdigital-ul {
            padding-left: 0;
            font-size: 18px;
            font-weight: 300;
            list-style-type: none;

            li {
                
                &:before {
                    content: " •";
                    color: $verde;
                    margin-right: 5px;
                    font-size: 22px;
                    line-height: 0;
                }
            }
        }

        .papdigital-conheca {
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 20px;
            color: #009cde;
            font-weight: 300;

            svg {
                display: block;
                margin: 10px auto 0;
                fill: #009cde;
            }
        }
    }

    &.oquefazemos {
        background-color: $azul;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;

        @media #{$tablet} {
            padding-top: 70px;

            .oquefazemos-box {
                margin-left: 265px;

                @media #{$desktop} {
                   margin-left: 429px;
                }
            }
        }

        @media #{$desktop} {
            position: relative;
        }

        .oquefazemos-title {
            width: 50%;
            padding-bottom: 10px;
            margin-bottom: 25px;
            border-bottom: 5px solid;

            @media #{$tablet} {
                width: 100%;
                border: 0 none;

                &::after {
                    content: "";
                    width: 40%;
                    height: 5px;
                    background-color: #fff;
                    position: absolute;
                    left: 17px;
                    display: block;
                    bottom: 15px;
                }
            }
        }

        .oquefazemos-features {
            @media #{$tablet} {
                margin-top: 20px;
            }

            .circle {
                width: 50px;
                height: 50px;
                border: 1px solid #4d7d9f;
                text-align: center;
                margin: auto;

                svg {
                    fill: #4d7d9f;
                    width: 20px;
                }

                &.circle-active {
                    background-color: $verde;

                    svg {
                        fill: $branco;
                    }
                }
            }

            h5 {
                text-align: center;
                color: #4d7d9f;
                text-transform: uppercase;
                font-size: 10px;
                font-weight: 400;
            }
        }

        .oquefazemos-nav {
            position: absolute;
            left: 50%;
            top: 340px;
            width: 90%;
            margin-left: -45%;
            display: none;

            @media #{$desktop} {
                display: block;

                .svg-left {
                    float: left;
                    cursor: pointer;
                }

                .svg-right {
                    float: right;
                    cursor: pointer;
                }
            }

            @media screen and (min-width: 1919px) {
                width: 68%;
                margin-left: -34%;
            }
        }

        .oquefazemos-description {

            @media #{$tablet} {
                .circle {
                    width: 220px;
                    height: 220px;
                    background-color: $verde;
                    border: 7px solid #2e668e;
                    float: left;

                    svg {
                        width: 206px;
                        height: 110px;
                        margin: 50px auto 0;
                        fill: #fff;
                    }
                }
            }

            @media #{$desktop} {
                .circle {
                    width: 370px;
                    height: 370px;
                    margin-right: 60px;

                    svg {
                        width: 347px;
                        height: 206px;
                        margin: 74px auto 0;
                    }
                }
            }

            .oquefazemos-description--title {
                font: {
                    size: 35px;
                    weight: 100;
                }

                @media #{$tablet} {
                    font-size: 55px;
                }
            }

            .oquefazemos-description--paragrafo {
                font: {
                    size: 18px;
                    weight: 100;
                }
            }

            .oquefazemos-description--bolder_title {
                font: {
                    size: 18px;
                    weight: 400;
                }

                @media #{$desktop} {
                    display: block;
                }
            }
        }

        ul {
            padding-left: 20px;
            font-size: 18px;
            font-weight: 100;
            margin-top: 10px;

            @media #{$desktop} {
                display: inline-block;
            }
        }
    }

    &.quematendemos {
        background: {
            image: url(../images/bg_quem_atendemos.jpg);
        }
        color: #fff;
        padding: 20px 0;

        .quematendemos-title {
            text-align: center;
            line-height: 1.2;
            font-weight: 500;
            margin-top: 40px;
            margin-bottom: 60px;

            &::after {
                content: "";
                width: 50%;
                height: 6px;
                background-color: #fff;
                position: absolute;
                left: 50%;
                bottom: 30px;
                margin-left: -25%;

                @media #{$tablet} {
                    width: 25%;
                    margin-left: -12.5%;
                }
            }
        }

        .quematendemos-feature {

            .quematendemos-feature--head {

                .quematendemos-feature--head_title {
                    display: inline-block;
                    margin-top: 9px;
                    margin-left: 5px;
                    font-size: 26px;
                    line-height: 1;
                    position: relative;
                    top: 8px;
                }
            }

            .quematendemos-lista {
                padding-left: 15px;
                font-size: 18px;
                font-weight: 100;
                margin-top: 20px;
            }
        }
    }

    &.comofunciona {
        text-align: center;

        @media #{$desktop} {
            margin-bottom: 60px;
        }

        .comofunciona_title {
            line-height: 1.2;

            @media #{$tablet} {
                margin-top: 70px;
            }
        }

        .comofunciona-paragrafo {
            font: {
                size: 18px;
                weight: 300;
            }
            margin-bottom: 30px;
        }

        .comofazemos-feature {
            margin-top: 20px;

            img {
                width: 110px;
                height: 125px;

                @media #{$tablet} {
                    width: 150px;
                    height: 150px;
                    margin-bottom: 15px;
                    margin-top: 10px;
                }
            }

            p {
                font-size: 16px;
                line-height: 1.2;
            }
        }
    }

    &.paplocalizacao {
        margin-top: 20px;
       
        .container-bg {
            padding: 0 6px;

            @media #{$tablet} {
                position: relative;

                .swiper-container {
                    z-index: 1000;
                }
            }

            @media #{$desktop} {
                position: static;
            }
        }

        .bg-mapa {
            background: {
                image: url(../images/bg_mapa_01.jpg);
                position: 1000px;
            }
            @media #{$desktop} {
                position: absolute;
                left: 0;
            }
        }

        .bg-mapa-2 {
            background: {
                image: url(../images/bg_mapa_02.jpg);
            }
            display: inline-block;
            padding-bottom: 20px;

            @media #{$tablet} {
                margin-top: 0;

                .img-estado {
                    width: 618px;
                    margin: -200px 50px 25px;
                }

                &.smbg {
                    position: absolute;
                    z-index: 23;
                    right: 0;
                    top: 238px;
                }
            }

            @media #{$desktop} {
                &.smbg {
                    padding-top: 30px;
                    padding-left: 150px;
                    top: inherit;
                }

                .img-estado {
                    width: 554px;
                    position: relative;
                    z-index: 99;
                }
            }
        }

        .paplocalizacao-title {
            color: #fff;
            line-height: 1.1;
            margin-bottom: 20px;

            @media #{$tablet} {
                font-size: 90px;
                z-index: 1;
            }

            @media #{$desktop} {
                font-size: 120px;
                padding: {
                    top: 50px;
                    bottom: 50px;
                }
            }
        }

        .paplocalizacao-estados {
            font-size: 18px;
            color: #7a9db5;
            border: 1.5px solid;
            width: 50px;
            height: 50px;
            float: left;
            text-align: center;
            padding-top: 11px;
            margin-right: 10px;
            margin-top: 20px;

            &.active {
                background-color: $verde;
                color: $branco;
            }

            @media #{$tablet} {
                float: right;
            }

            @media #{$desktop} {
                    float: left;
            }
        }

        .paplocalizacao-title--estado {
            font-size: 37px;
            color: $azul;
            position: relative;
            margin-bottom: 50px;

            @media #{$tablet} {
                z-index: 30;
            }

            @media #{$desktop} {
                padding-top: 30px;
            }

            &::after {
               content: "";
                width: 50%;
                height: 6px;
                background: $azul;
                position: absolute;
                left: 1px;
                bottom: -25px;
            }
        }

        ul {
            padding-left: 3px;
            font-size: 18px;
            font-weight: 300;
            list-style-type: none;

            li {
                &:before {
                    content: " •";
                    color: #52aa2a;
                    margin-right: 5px;
                    font-size: 22px;
                    line-height: 0;
                }
            }
        }

        .paplocalizacao-destaque {

            @media #{$desktop} {
                margin: 65px 0;
            }

        }

        .paplocalizacao-destaque-title {
            color: $azul;
            font-size: 55px;
            text-align: center;
            margin-bottom: 0;

            @media #{$desktop} {
                font-size: 77px;
            }
        }

        .paplocalizacao-destaque-stitle {
            font-size: 33px;
            font-weight: 100;
            text-align: center;
            margin-top: 5px;
            color: $azul;

            @media #{$desktop} {
                font-size: 49px;
            }
        }
    }

    &.clientes {
        background-color: #f2f2f2;
        padding: 20px 0;
        margin-top: 20px;

        .clientes-title {
            color: $azul;
            text-align: center;

            &::before {

                @media #{$tablet} {
                    content: "";
                    position: absolute;
                    left: 50%;
                    margin-left: -12.5%;
                    width: 25%;
                    background-color: $azul;
                    height: 5px;
                    top: 80px;
                }

                @media #{$desktop} {
                    width: 12.5%;
                    margin-left: -6.25%;
                }
            }
        }

        .clientes-description, .clientes-nome, .clientes-empresa {
            font: {
                size: 18px;
                weight: 300;
            }
            text-align: center;
        }

        .clientes-description {
            @media #{$tablet} {
                width: 505px;
                margin: 55px auto;

                &::before {
                    content: "";
                    display: inline-block;
                    background-image: url(../images/aspa_1.svg);
                    width: 96px;
                    height: 76px;
                    position: absolute;
                    left: 25px;
                    top: 80px;
                    
                    @media #{$desktop} {
                        top: 20px;
                    }
                }
                &::after {
                    content: "";
                    display: inline-block;
                    background-image: url(../images/aspa_2.svg);
                    width: 96px;
                    height: 76px;
                    position: absolute;
                    right: 20px;
                    top: 177px;

                    @media #{$desktop} {
                        top: 80px;
                    }
                }
            }

            @media #{$desktop} {
                width: 815px;
                margin-bottom: 0;
            }
        }

        .clientes-nome {
            font-weight: bold;
            font-style: italic;
            display: block; 
        }

        .clientes-empresa {
            display: block;            
            font-style: italic;
        }

        .clientes-pagination {
            text-align: center;
            display: block;
            margin: 30px;

            span {
                background-color: #e3e3e2;
                width: 15px;
                height: 15px;
                margin-left: 10px;
                cursor: pointer;

                &.swiper-pagination-bullet-active {
                    background-color: #009cde
                }
            }
        }
    }

    &.contato {
        background-color: #303030;
        color: #fff;
        padding: 20px 0;

        .contato-title {

        }

        .contato-description {
            font: {
                size: 18px;
                weight: 300;
            }
            margin-bottom: 20px;

            &:before {
                content: "";
                width: 50%;
                height: 5px;
                background-color: #fff;
                position: absolute;
                bottom: 0;

                @media #{$tablet} {
                    width: 25%;
                    
                }
            }
        }

        .contato-feature {
            
            margin-top: 20px;

            a {
                text-decoration: none;
                color: $branco;
                margin-left: 10px;
                font: {
                    size: 18px;
                    weight: 100;
                }

                @media #{$tablet} {
                    display: block;
                    margin: {
                        top: 10px;
                        left: 0;
                    }
                }

                @media #{$desktop} {
                    font-size: 30px;
                }
            }
        }

        form {
            display: block;
            margin-top: 20px;
        }

        input, textarea {
            margin-top: 7px;
            font: {
                size: 18px;
                weight: 200;
            }
        }

        input {
            height: 50px;
        }

        textarea {
            height: 145px;
        }

        .btn-submit {
            @include border-radius(5px);
            width: 170px;
            color: #fff;
            background-color: #009cde;
            border: 1px solid #009cde;
            padding: 11px 0;
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 20px;
            font-weight: 300;
        }
    }
}